#container {
  width: 1040px;
  margin: 0px auto;
  min-height: 750px;
  text-align: center;
}

input[type='text'] {
  height: 2.2em;
  font-size: 2em;
  width: 50%;
  padding: 5px;
}

.search {
  text-align: center;
  margin: 50px auto;
}
